h1.cover-heading Hard Luck !! Your attempt to buy a superhero was in vain
p.lead
  | Oops!! Could not complete the order for Order ID 
  =  merchantOrderId
p.lead
  a.btn.btn-lg.btn-default(href='/') Try Again
